/* css reset start*/
body,h1,h2,h3,ul{
  margin:0  
}
ul{
  padding:0;
}
/* css reset stop*/
header .location_selection{
  background: url("./img/Hero.png") no-repeat;
  background-size:cover;
  height: 100%;
  text-align:center;
}
header h1{
  text-align: center;
  padding: 150px 0;
  color: white;
}
header select{
  width: 350px;
  height: 35px;
  margin-bottom: 50px;
}
header .hotlocation{
  background-color: white;
  width: 1000px;
  margin: -35px auto 25px auto;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 1px 1px  gray;
}
header .hotlocation ul{
  display: flex; 
}
header .hotlocation ul li{
  list-style: none;
  margin: 0 20px;
}
header .hotlocation ul li a{
  text-decoration: none;
  padding: 5px 20px;
}
header .hotlocation ul li a{
  background-color: yellow; 
}
main .content{
  width:70%;
  margin:auto;
}
main .content .dashed{
  display:flex;
}
main .content .dashed div{
  width:45%;
  margin:0 2%;
}
main .content .dashed div hr{
  border-top:0.1rem blue dashed;
} 
main #locationUl{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  list-style: none;
}
main #locationUl li{
  padding: 0 10px;
}
main #locationUl li .locationImage{
  width:450px;
  height:300px;
  position: relative;
}
main #locationUl li .locationImage h4{
  color: yellow;
  position: absolute;
  bottom:0;
  left:5%;
  letter-spacing:5px;
  font-size:1.5rem; 
}
main #locationUl li div{
  width:450px;
}
footer{
  height: 80px;
  background: rgb(0, 68, 255);
}
footer p{
 text-align:center;
 line-height: 80px;  
 color: yellow;
}