/* css rest start*/
h3{
  margin:0  
}
/* css rest stop*/
header .location_selection{
  background: url("./img/Hero.png") no-repeat;
  background-size:cover;
  height: 100%;
  text-align:center;
}
header h1{
  text-align: center;
  padding: 150px 0;
  color: white;
}
header select{
  width: 350px;
  height: 35px;
  margin-bottom: 50px;
}
header .hotlocation{
  background-color: white;
  width: 1000px;
  margin: -35px auto 25px auto;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 1px 1px  gray;
}
header .hotlocation ul{
  display: flex; 
}
header .hotlocation ul li{
  list-style: none;
  margin: 0 20px;
}
header .hotlocation ul li a{
  text-decoration: none;
  padding: 5px 20px;
}
header .hotlocation ul li a{
  background-color: yellow; 
}
main .content{
  width:60%;
  margin:auto
}
main .content .dashed{
  display:flex;
}
main .content .dashed div{
  width:45%;
  margin:0 2%;
}
main .content .dashed div hr{
  border-top:0.1rem blue dashed;
} 